* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4bd57; 
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    min-width: 40vh;
}
form {
    margin: 2rem 0 1rem 0;
}

form select, input, button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    font-size: 1rem;
    border: 1px solid lightgray;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.dropdown i {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin-bottom: 2rem;
}

form button {
    height: 3rem;
    background-color: #455163;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}